<!doctype html>
<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="masters">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>MediClick</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" href="favicon.png">

<!--angular routes-->
 <script src="../public/js/app.routes.js"></script>
 <script src="../public/js/app.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
 <script src="../public/js2/angular-messages.js"></script>
 <script src="../public/js2/ngStorage.min.js"></script>
 <script src="../public/js/app.routes.js"></script>
 <script src="../public/js/app.js"></script>

    <link rel="stylesheet" href="../public/css2/bookApp.css">
    <link rel="stylesheet" href="../public/css2/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../public/css2/bootstrap3.css" />
    
    <link rel="stylesheet" href="../public/css2/animate.css">
    <link rel="stylesheet" href="../public/css2/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css2/slick.css">
    <link rel="stylesheet" href="../public/js2/rs-plugin/css/settings.css">

    <script type="text/javascript" src="../public/js2/modernizr.custom.32033.js"></script>
    
    <link rel="stylesheet" href="../public/css2/eco.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body  ng-controller="aboutController as about">

    <div class="pre-loader">
        <div class="load-con">
            <img src="../public/images/logo.png" alt="" class="logo">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
        </div>
    </div>
   
    <header>
        
          <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="fa fa-bars fa-lg"></span>
                        </button>
                        <a class="navbar-brand" href="\">
                            <img src="../public/images/logo.png" alt="" class="logo">
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Home</a>
                            </li>
                            
                            <li><a href="/Symptoms">Symptom Checker</a>
                            </li>
                            <li><a href="/pharm">Pharmacy</a>
                            </li>
                    
                        </ul>
                    </div>


                  
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-->
        </nav>

  <section  id="reviews">
            <div class="container">
                <div class="section-heading inverse scrollpoint sp-effect3">
                
                               
                </div>
                </div>                    
        </section>

 </header>
<div class="wrapper">
               <section id="screens">
            <div class="container">             
             <div class="section-heading scrollpoint sp-effect3" style="margin-top: 10px">
             <br>
                    <h1>About MediClick</h1>
                    <div class="divider"></div>
                      <div style="text-align: left">
                      <p style="font-size: medium">
                      MediClick is a medical website designed to provide many medical services in a few clicks. Various features of MediClick include:
                      <ul style="font-size: medium;color: #66CC99;font-weight: 500;">
  <li style="padding:10px"><font size="5"><u>Symptom Checker</u></font>
  <p><font size="4">
  The user can select the specific body part in which he/she is experiencing the symptoms using a human body model and can specify the symptoms in simple phrases in the Symptom Checker. MediClick uses Concept Extraction Techniques to extract the symptoms from the user entered symptoms and provides a list of possible conditions based on them.</font>
  </p>
  </li>
  <li style="padding:10px"><font size="5"><u>Know Your Condition</u></font>
  <p><font size="4">
  MediClick provides interesting and informative facts about the conditions provided, based on the symptoms entered by the users.</font>
  </p>
  </li>
  <li style="padding:10px"><font size="5"><u>Insurance based doctor retrieval</u></font>
  <p><font size="4">
  This is one of the unique features of MediClick. The user can enter his medical problem and select his Insurance plan and accordingly get a filtered list of doctors in the increasing order of distance based on his location. The users can view the ratings of the doctors, read more information about them, get their contact information and also book an appointment with the doctor.</font>
  </p>
  </li>
  <li style="padding:10px"><font size="5"><u>Get Pharmacy</u></font>
  <p><font size="4">
  Users can get navigated to their nearest pharmacies based on their location.</font>
  </p>
  </li>
  <li style="padding:10px"><font size="5"><u>Emergency Alert System</u></font>
  <p><font size="4">
  On clicking the ambulance button on the Home page, the user gets navigated to the nearest hospital and an alert message is sent to the emergency contacts set up by the user.</font>
  </p>
  </li>
  <li style="padding:10px"><font size="5"><u>Caloriemeter</u></font>
  <p><font size="4">
  This is an additional feature of MediClick which provides a diet plan based on the BMI of the user.</font>
  </p>
  </li>
</ul>
                      </p>
                      </div>
                </div>
             
     
       </div>  
    </div>
        </section>
       <h2 style="text-align: center;color: rgb(66, 97, 218);">The Team</h2>
 <div class="container">
                               

                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-7">
                        <div class="about-item scrollpoint sp-effect2" >
                          <!--  <i class="fa fa-download fa-2x"></i>-->
                         <img src="../public/img/eco/pp.jpg">
                            <h5>Sai Sankirthi Achutuni</h5>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-7" >
                        <div class="about-item scrollpoint sp-effect5">
                         <!--   <i class="fa fa-mobile fa-2x"></i>-->
                        <img src="../public/img/eco/kov.jpg">
                            <h5>Kovid Dev Reddy Nalla</h5>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-7" >
                        <div class="about-item scrollpoint sp-effect5">
                         <!--   <i class="fa fa-users fa-2x"></i>-->
                        <img src="../public/img/eco/sindhu.jpg">
                            <h5>Sindhura Vallabhaneni</h5>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-7" >
                        <div class="about-item scrollpoint sp-effect2">
                          <!--  <i class="fa fa-sliders fa-2x"></i>
                          <a href="/calorie">  <img src="../public/img/eco/more.png"></a>-->
                                                 
                           <img src="../public/img/eco/pran.jpg" >

                            <h5>Pranjal Shah</h5>
                        </div>
                    </div>
                </div>
            </div>
<!-- 
      <div class="container">
      <div class="col-xs-3">
  <button class="btn btn-link" >
          <div  class="thumbnail">
            
            <img src="../public/img/eco/pp.jpg" style="width:260px">
            <div class="caption">
            <h5>Sai Sankirthi Achutuni</h5>
                           
            </div>
          </div></button>
        </div>
       
        
        <div class="col-xs-3">
           <button class="btn btn-link">
          <div  class="thumbnail" >
            <img src="../public/img/eco/kov.jpg" style="width:260px">
            <div class="caption">
              <h5>Kovid Dev Reddy</h5>
                           
            </div>
          </div></button>
        </div>
 <div class="col-xs-3">
          <button class="btn btn-link" > 
            <div class="thumbnail">
           <img src="../public/img/eco/sindhu.jpg" style="width:260px">
            <div class="caption">
              <h5>Sindhura Vallabhaneni</h5>
              
            </div>
          </div></button>
        </div>



        <div class="col-xs-3">
           <button class="btn btn-link" >
          <div class="thumbnail" >
            <img src="../public/img/eco/pran.jpg" style="width:260px">
            <div class="caption">
              <h5>Pranjal Shah</h5>
              
              
            </div>
          </div></button>
        </div>

          <!--thumb nails - end-->

      </div> -->
      </section>
<!-- Modal Markup kept out of all the div elements -->
    
          </div>


    </div>
    <script src="../public/js2/jquery-1.11.1.min.js"></script>
    <script src="../public/js2/bootstrap.min.js"></script>
    <script src="../public/js2/slick.min.js"></script>
    <script src="../public/js2/placeholdem.min.js"></script>
    <script src="../public/js2/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script src="../public/js2/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="../public/js2/waypoints.min.js"></script>
    <script src="../public/js2/scripts.js"></script>
    <script>
        $(document).ready(function() {
            appMaster.preLoader();
        });
    </script>
    <script type="text/javascript">
    function show()
    {
      document.getElementById('insurance').style.display='block';
    }
        function togglediv(id) {
    var div = document.getElementById(id);
    div.style.display = div.style.display == "none" ? "block" : "none";
    console.log("hi");
}
</script>
</body>

</html>
