<!doctype html>
<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="masters">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>MediClick</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" href="favicon.png">

<!--angular routes-->
 <script src="../public/js/app.routes.js"></script>
 <script src="../public/js/app.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
 <script src="../public/js2/angular-messages.js"></script>
 <script src="../public/js2/ngStorage.min.js"></script>
 <script src="../public/js/app.routes.js"></script>
 <script src="../public/js/app.js"></script>

    <link rel="stylesheet" href="../public/css2/bookApp.css">
    <link rel="stylesheet" href="../public/css2/bootstrap.css">
    
    <link rel="stylesheet" href="../public/css2/animate.css">
    <link rel="stylesheet" href="../public/css2/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css2/slick.css">
    <link rel="stylesheet" href="../public/js2/rs-plugin/css/settings.css">

    <script type="text/javascript" src="../public/js2/modernizr.custom.32033.js"></script>
    
    <link rel="stylesheet" href="../public/css2/eco.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
     
   
 
    <style>
    #tabs {
  overflow: auto;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#tabs li {
    margin: 0;
    padding: 0;
    float: left;
}

#tabs a {
    box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    background: #ad1c1c;
    background: linear-gradient(220deg, transparent 10px, #66cc99 10px);
    /*text-shadow: 0 1px 0 rgba(0,0,0,.5);*/
    color: #fff;
    float: left;
    font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
    height: 35px;
    padding: 0 30px;
    text-decoration: none;
}

#tabs a:hover {
    background: #c93434;
    background: linear-gradient(220deg, transparent 10px, #c93434 10px);     
}

#tabs a:focus {
    outline: 0;
}

#tabs #current a {
    background: linear-gradient(220deg, transparent 10px, #339999 10px);
    text-shadow: none;
    color: white;
}

#content {
    background-color: #fff;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.45), 0 -1px 0 #fff inset;
    padding: 30px;
    border: 4px solid #66cc99;
    overflow-y: overlay;
}

/* Remove the rule below if you want the content to be "organic" */
#content div {
    height: 220px; 
}
    </style>
  

<script type="text/javascript">
var activity = [{"Activity":"Cycling, mountain bike, bmx","wone":502,"wtwo":598,"wthree":695,"wfour":791},
{"Activity":"Cycling, <10 mph, leisure bicycling","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Cycling, >20 mph, racing","wone":944,"wtwo":1126,"wthree":1308,"wfour":1489},
{"Activity":"Cycling, 10-11.9 mph, light","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Cycling, 12-13.9 mph, moderate","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Cycling, 14-15.9 mph, vigorous","wone":590,"wtwo":704,"wthree":817,"wfour":931},
{"Activity":"Cycling, 16-19 mph, very fast, racing","wone":708,"wtwo":844,"wthree":981,"wfour":1117},
{"Activity":"Unicycling","wone":295,"wtwo":352,"wthree":409,"wfour":465},
{"Activity":"Stationary cycling, very light","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Stationary cycling, light","wone":325,"wtwo":387,"wthree":449,"wfour":512},
{"Activity":"Stationary cycling, moderate","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Stationary cycling, vigorous","wone":620,"wtwo":739,"wthree":858,"wfour":977},
{"Activity":"Stationary cycling, very vigorous","wone":738,"wtwo":880,"wthree":1022,"wfour":1163},
{"Activity":"Calisthenics, vigorous, pushups, situps…","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Calisthenics, light","wone":207,"wtwo":246,"wthree":286,"wfour":326},
{"Activity":"Circuit training, minimal rest","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Weight lifting, body building, vigorous","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Weight lifting, light workout","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Health club exercise","wone":325,"wtwo":387,"wthree":449,"wfour":512},
{"Activity":"Stair machine","wone":531,"wtwo":633,"wthree":735,"wfour":838},
{"Activity":"Rowing machine, light","wone":207,"wtwo":246,"wthree":286,"wfour":326},
{"Activity":"Rowing machine, moderate","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Rowing machine, vigorous","wone":502,"wtwo":598,"wthree":695,"wfour":791},
{"Activity":"Rowing machine, very vigorous","wone":708,"wtwo":844,"wthree":981,"wfour":1117},
{"Activity":"Ski machine","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Aerobics, low impact","wone":295,"wtwo":352,"wthree":409,"wfour":465},
{"Activity":"Aerobics, high impact","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Aerobics, step aerobics","wone":502,"wtwo":598,"wthree":695,"wfour":791},
{"Activity":"Aerobics, general","wone":384,"wtwo":457,"wthree":531,"wfour":605},
{"Activity":"Jazzercise","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Stretching, hatha yoga","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Mild stretching","wone":148,"wtwo":176,"wthree":204,"wfour":233},
{"Activity":"Instructing aerobic class","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Water aerobics","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Ballet, twist, jazz, tap","wone":266,"wtwo":317,"wthree":368,"wfour":419},
{"Activity":"Ballroom dancing, slow","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Ballroom dancing, fast","wone":325,"wtwo":387,"wthree":449,"wfour":512},
{"Activity":"Running, 5 mph (12 minute mile)","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Running, 5.2 mph (11.5 minute mile)","wone":531,"wtwo":633,"wthree":735,"wfour":838},
{"Activity":"Running, 6 mph (10 min mile)","wone":590,"wtwo":704,"wthree":817,"wfour":931},
{"Activity":"Running, 6.7 mph (9 min mile)","wone":649,"wtwo":774,"wthree":899,"wfour":1024},
{"Activity":"Running, 7 mph (8.5 min mile)","wone":679,"wtwo":809,"wthree":940,"wfour":1070},
{"Activity":"Running, 7.5mph (8 min mile)","wone":738,"wtwo":880,"wthree":1022,"wfour":1163},
{"Activity":"Running, 8 mph (7.5 min mile)","wone":797,"wtwo":950,"wthree":1103,"wfour":1256},
{"Activity":"Running, 8.6 mph (7 min mile)","wone":826,"wtwo":985,"wthree":1144,"wfour":1303},
{"Activity":"Running, 9 mph (6.5 min mile)","wone":885,"wtwo":1056,"wthree":1226,"wfour":1396},
{"Activity":"Running, 10 mph (6 min mile)","wone":944,"wtwo":1126,"wthree":1308,"wfour":1489},
{"Activity":"Running, 10.9 mph (5.5 min mile)","wone":1062,"wtwo":1267,"wthree":1471,"wfour":1675},
{"Activity":"Running, cross country","wone":531,"wtwo":633,"wthree":735,"wfour":838},
{"Activity":"Running, general","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Running, on a track, team practice","wone":590,"wtwo":704,"wthree":817,"wfour":931},
{"Activity":"Running, stairs, up","wone":885,"wtwo":1056,"wthree":1226,"wfour":1396},
{"Activity":"Track and field (shot, discus)","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Track and field (high jump, pole vault)","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Track and field (hurdles)","wone":590,"wtwo":704,"wthree":817,"wfour":931},
{"Activity":"Archery","wone":207,"wtwo":246,"wthree":286,"wfour":326},
{"Activity":"Badminton","wone":266,"wtwo":317,"wthree":368,"wfour":419},
{"Activity":"Basketball game, competitive","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Playing basketball, non game","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Basketball, officiating","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Basketball, shooting baskets","wone":266,"wtwo":317,"wthree":368,"wfour":419},
{"Activity":"Basketball, wheelchair","wone":384,"wtwo":457,"wthree":531,"wfour":605},
{"Activity":"Running, training, pushing wheelchair","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Billiards","wone":148,"wtwo":176,"wthree":204,"wfour":233},
{"Activity":"Bowling","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Boxing, in ring","wone":708,"wtwo":844,"wthree":981,"wfour":1117},
{"Activity":"Boxing, punching bag","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Boxing, sparring","wone":531,"wtwo":633,"wthree":735,"wfour":838},
{"Activity":"Coaching: football, basketball, soccer…","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Cricket (batting, bowling)","wone":295,"wtwo":352,"wthree":409,"wfour":465},
{"Activity":"Croquet","wone":148,"wtwo":176,"wthree":204,"wfour":233},
{"Activity":"Curling","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Darts (wall or lawn)","wone":148,"wtwo":176,"wthree":204,"wfour":233},
{"Activity":"Fencing","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Football, competitive","wone":531,"wtwo":633,"wthree":735,"wfour":838},
{"Activity":"Football, touch, flag, general","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Football or baseball, playing catch","wone":148,"wtwo":176,"wthree":204,"wfour":233},
{"Activity":"Frisbee playing, general","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Frisbee, ultimate frisbee","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Golf, general","wone":266,"wtwo":317,"wthree":368,"wfour":419},
{"Activity":"Golf, walking and carrying clubs","wone":266,"wtwo":317,"wthree":368,"wfour":419},
{"Activity":"Golf, driving range","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Golf, miniature golf","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Golf, walking and pulling clubs","wone":254,"wtwo":303,"wthree":351,"wfour":400},
{"Activity":"Golf, using power cart","wone":207,"wtwo":246,"wthree":286,"wfour":326},
{"Activity":"Gymnastics","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Hacky sack","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Handball","wone":708,"wtwo":844,"wthree":981,"wfour":1117},
{"Activity":"Handball, team","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Hockey, field hockey","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Hockey, ice hockey","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Riding a horse, general","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Horesback riding, saddling horse","wone":207,"wtwo":246,"wthree":286,"wfour":326},
{"Activity":"Horseback riding, grooming horse","wone":207,"wtwo":246,"wthree":286,"wfour":326},
{"Activity":"Horseback riding, trotting","wone":384,"wtwo":457,"wthree":531,"wfour":605},
{"Activity":"Horseback riding, walking","wone":148,"wtwo":176,"wthree":204,"wfour":233},
{"Activity":"Horse racing, galloping","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Horse grooming, moderate","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Horseshoe pitching","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Jai alai","wone":708,"wtwo":844,"wthree":981,"wfour":1117},
{"Activity":"Martial arts, judo, karate, jujitsu","wone":590,"wtwo":704,"wthree":817,"wfour":931},
{"Activity":"Martial arts, kick boxing","wone":590,"wtwo":704,"wthree":817,"wfour":931},
{"Activity":"Martial arts, tae kwan do","wone":590,"wtwo":704,"wthree":817,"wfour":931},
{"Activity":"Krav maga training","wone":590,"wtwo":704,"wthree":817,"wfour":931},
{"Activity":"Juggling","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Kickball","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Lacrosse","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Orienteering","wone":531,"wtwo":633,"wthree":735,"wfour":838},
{"Activity":"Playing paddleball","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Paddleball, competitive","wone":590,"wtwo":704,"wthree":817,"wfour":931},
{"Activity":"Polo","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Racquetball, competitive","wone":590,"wtwo":704,"wthree":817,"wfour":931},
{"Activity":"Playing racquetball","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Rock climbing, ascending rock","wone":649,"wtwo":774,"wthree":899,"wfour":1024},
{"Activity":"Rock climbing, rappelling","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Jumping rope, fast","wone":708,"wtwo":844,"wthree":981,"wfour":1117},
{"Activity":"Jumping rope, moderate","wone":590,"wtwo":704,"wthree":817,"wfour":931},
{"Activity":"Jumping rope, slow","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Rugby","wone":590,"wtwo":704,"wthree":817,"wfour":931},
{"Activity":"Shuffleboard, lawn bowling","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Skateboarding","wone":295,"wtwo":352,"wthree":409,"wfour":465},
{"Activity":"Roller skating","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Roller blading, in-line skating","wone":708,"wtwo":844,"wthree":981,"wfour":1117},
{"Activity":"Sky diving","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Soccer, competitive","wone":590,"wtwo":704,"wthree":817,"wfour":931},
{"Activity":"Playing soccer","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Softball or baseball","wone":295,"wtwo":352,"wthree":409,"wfour":465},
{"Activity":"Softball, officiating","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Softball, pitching","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Squash","wone":708,"wtwo":844,"wthree":981,"wfour":1117},
{"Activity":"Table tennis, ping pong","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Tai chi","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Playing tennis","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Tennis, doubles","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Tennis, singles","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Trampoline","wone":207,"wtwo":246,"wthree":286,"wfour":326},
{"Activity":"Volleyball, competitive","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Playing volleyball","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Volleyball, beach","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Wrestling","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Wallyball","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Backpacking, Hiking with pack","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Carrying infant, level ground","wone":207,"wtwo":246,"wthree":286,"wfour":326},
{"Activity":"Carrying infant, upstairs","wone":295,"wtwo":352,"wthree":409,"wfour":465},
{"Activity":"Carrying 16 to 24 lbs, upstairs","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Carrying 25 to 49 lbs, upstairs","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Standing, playing with children, light","wone":165,"wtwo":197,"wthree":229,"wfour":261},
{"Activity":"Walk/run, playing with children, moderate","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Walk/run, playing with children, vigorous","wone":295,"wtwo":352,"wthree":409,"wfour":465},
{"Activity":"Carrying small children","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Loading, unloading car","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Climbing hills, carrying up to 9 lbs","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Climbing hills, carrying 10 to 20 lb","wone":443,"wtwo":528,"wthree":613,"wfour":698},
{"Activity":"Climbing hills, carrying 21 to 42 lb","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Climbing hills, carrying over 42 lb","wone":531,"wtwo":633,"wthree":735,"wfour":838},
{"Activity":"Walking downstairs","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Hiking, cross country","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Bird watching","wone":148,"wtwo":176,"wthree":204,"wfour":233},
{"Activity":"Marching, rapidly, military","wone":384,"wtwo":457,"wthree":531,"wfour":605},
{"Activity":"Children's games, hopscotch, dodgeball","wone":295,"wtwo":352,"wthree":409,"wfour":465},
{"Activity":"Pushing stroller or walking with children","wone":148,"wtwo":176,"wthree":204,"wfour":233},
{"Activity":"Pushing a wheelchair","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Race walking","wone":384,"wtwo":457,"wthree":531,"wfour":605},
{"Activity":"Rock climbing, mountain climbing","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Walking using crutches","wone":295,"wtwo":352,"wthree":409,"wfour":465},
{"Activity":"Walking the dog","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Walking, under 2.0 mph, very slow","wone":118,"wtwo":141,"wthree":163,"wfour":186},
{"Activity":"Walking 2.0 mph, slow","wone":148,"wtwo":176,"wthree":204,"wfour":233},
{"Activity":"Walking 2.5 mph","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Walking 3.0 mph, moderate","wone":195,"wtwo":232,"wthree":270,"wfour":307},
{"Activity":"Walking 3.5 mph, brisk pace","wone":224,"wtwo":267,"wthree":311,"wfour":354},
{"Activity":"Walking 3.5 mph, uphill","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Walking 4.0 mph, very brisk","wone":295,"wtwo":352,"wthree":409,"wfour":465},
{"Activity":"Walking 4.5 mph","wone":372,"wtwo":443,"wthree":515,"wfour":586},
{"Activity":"Walking 5.0 mph","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Boating, power, speed boat","wone":148,"wtwo":176,"wthree":204,"wfour":233},
{"Activity":"Canoeing, camping trip","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Canoeing, rowing, light","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Canoeing, rowing, moderate","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Canoeing, rowing, vigorous","wone":708,"wtwo":844,"wthree":981,"wfour":1117},
{"Activity":"Crew, sculling, rowing, competition","wone":708,"wtwo":844,"wthree":981,"wfour":1117},
{"Activity":"Kayaking","wone":295,"wtwo":352,"wthree":409,"wfour":465},
{"Activity":"Paddle boat","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Windsurfing, sailing","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Sailing, competition","wone":295,"wtwo":352,"wthree":409,"wfour":465},
{"Activity":"Sailing, yachting, ocean sailing","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Skiing, water skiing","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Ski mobiling","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Skin diving, fast","wone":944,"wtwo":1126,"wthree":1308,"wfour":1489},
{"Activity":"Skin diving, moderate","wone":738,"wtwo":880,"wthree":1022,"wfour":1163},
{"Activity":"Skin diving, scuba diving","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Snorkeling","wone":295,"wtwo":352,"wthree":409,"wfour":465},
{"Activity":"Surfing, body surfing or board surfing","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Whitewater rafting, kayaking, canoeing","wone":295,"wtwo":352,"wthree":409,"wfour":465},
{"Activity":"Swimming laps, freestyle, fast","wone":590,"wtwo":704,"wthree":817,"wfour":931},
{"Activity":"Swimming laps, freestyle, slow","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Swimming backstroke","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Swimming breaststroke","wone":590,"wtwo":704,"wthree":817,"wfour":931},
{"Activity":"Swimming butterfly","wone":649,"wtwo":774,"wthree":899,"wfour":1024},
{"Activity":"Swimming leisurely, not laps","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Swimming sidestroke","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Swimming synchronized","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Swimming, treading water, fast, vigorous","wone":590,"wtwo":704,"wthree":817,"wfour":931},
{"Activity":"Swimming, treading water, moderate","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Water aerobics, water calisthenics","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Water polo","wone":590,"wtwo":704,"wthree":817,"wfour":931},
{"Activity":"Water volleyball","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Water jogging","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Diving, springboard or platform","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Ice skating, < 9 mph","wone":325,"wtwo":387,"wthree":449,"wfour":512},
{"Activity":"Ice skating, average speed","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Ice skating, rapidly","wone":531,"wtwo":633,"wthree":735,"wfour":838},
{"Activity":"Speed skating, ice, competitive","wone":885,"wtwo":1056,"wthree":1226,"wfour":1396},
{"Activity":"Cross country snow skiing, slow","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Cross country skiing, moderate","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Cross country skiing, vigorous","wone":531,"wtwo":633,"wthree":735,"wfour":838},
{"Activity":"Cross country skiing, racing","wone":826,"wtwo":985,"wthree":1144,"wfour":1303},
{"Activity":"Cross country skiing, uphill","wone":974,"wtwo":1161,"wthree":1348,"wfour":1536},
{"Activity":"Snow skiing, downhill skiing, light","wone":295,"wtwo":352,"wthree":409,"wfour":465},
{"Activity":"Downhill snow skiing, moderate","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Downhill snow skiing, racing","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Sledding, tobagganing, luge","wone":413,"wtwo":493,"wthree":572,"wfour":651},
{"Activity":"Snow shoeing","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Snowmobiling","wone":207,"wtwo":246,"wthree":286,"wfour":326},
{"Activity":"General housework","wone":207,"wtwo":246,"wthree":286,"wfour":326},
{"Activity":"Cleaning gutters","wone":295,"wtwo":352,"wthree":409,"wfour":465},
{"Activity":"Painting","wone":266,"wtwo":317,"wthree":368,"wfour":419},
{"Activity":"Sit, playing with animals","wone":148,"wtwo":176,"wthree":204,"wfour":233},
{"Activity":"Walk / run, playing with animals","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Bathing dog","wone":207,"wtwo":246,"wthree":286,"wfour":326},
{"Activity":"Mowing lawn, walk, power mower","wone":325,"wtwo":387,"wthree":449,"wfour":512},
{"Activity":"Mowing lawn, riding mower","wone":148,"wtwo":176,"wthree":204,"wfour":233},
{"Activity":"Walking, snow blower","wone":207,"wtwo":246,"wthree":286,"wfour":326},
{"Activity":"Riding, snow blower","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Shoveling snow by hand","wone":354,"wtwo":422,"wthree":490,"wfour":558},
{"Activity":"Raking lawn","wone":254,"wtwo":303,"wthree":351,"wfour":400},
{"Activity":"Gardening, general","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Bagging grass, leaves","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Watering lawn or garden","wone":89,"wtwo":106,"wthree":123,"wfour":140},
{"Activity":"Weeding, cultivating garden","wone":266,"wtwo":317,"wthree":368,"wfour":419},
{"Activity":"Carpentry, general","wone":207,"wtwo":246,"wthree":286,"wfour":326},
{"Activity":"Carrying heavy loads","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"Carrying moderate loads upstairs","wone":472,"wtwo":563,"wthree":654,"wfour":745},
{"Activity":"General cleaning","wone":207,"wtwo":246,"wthree":286,"wfour":326},
{"Activity":"Cleaning, dusting","wone":148,"wtwo":176,"wthree":204,"wfour":233},
{"Activity":"Taking out trash","wone":177,"wtwo":211,"wthree":245,"wfour":279},
{"Activity":"Walking, pushing a wheelchair","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Teach physical education,exercise class","wone":236,"wtwo":281,"wthree":327,"wfour":372},
{"Activity":"Teach exercise classes (& participate)","wone":384,"wtwo":457,"wthree":531,"wfour":605}]
</script>

</head>

<body  ng-controller="aboutController as about">

    <div class="pre-loader">
        <div class="load-con">
            <img src="../public/images/logo.png" alt="" class="logo">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
        </div>
    </div>
   
    <header>
        
          <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="fa fa-bars fa-lg"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            <img src="../public/images/logo.png" alt="" class="logo">
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Home</a>
                            </li>
                            
                            <li><a href="/Symptoms">Symptom Checker</a>
                            </li>
                            <li><a href="/pharm">Find Pharmacy</a>
                            </li>
                    
                        </ul>
                    </div>


                  
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-->
        </nav>

  <section ng-init="bhealth.getInsurance()" id="reviews">
            <div class="container">
                <div class="section-heading inverse scrollpoint sp-effect3">
                
                               
                </div>
                </div>                    
        </section>

 </header>
<div class="wrapper">
               <section id="screens">
            <div class="container">             
             <div class="section-heading scrollpoint sp-effect3" style="margin-top: 10px">
                    <h1>Calorie Counter </h1>
                    <div class="divider"></div>
                    
                    <div>
                    <ul id="tabs">
    <li><a href="#" title="tab1">Food</a></li>
    <li><a href="#" title="tab2">Excercise</a></li>
    <li><a href="#" title="tab3">Net Calories</a></li>
</ul>

<div id="content"> 
    <div id="tab1">
<section class="row"> 
  <section class="col-md-3 col-xs-10" style=" height: 200px;"> 
  <h4>Food Search</h4>
  <input type="text" id="searchtext" class="form-control ">
  <button type="submit" id="getbtn" class="btn" style="background-color: #E7B319;width: 10%;margin-left: 25%;margin-top: 5%;">ok</button>
  <br>
  <select multiple="" id="select1" style="float:left;border: 4px solid #66cc99;width: 100%;border-radius: 10px;padding: 12px;font-size: small;">  
   
  <option value="1">Option 1</option>
  <option value="2">Option 2</option>
   <option value="3">Option 3</option>  
   <option value="4">Option 4</option> 

  </select>  
 </section>
 <section class="col-md-1 col-xs-4" style="margin-top: 9%;height: 30px;"> 
 
<a href="#"><img src="../public/img/eco/add.png" id="add" style="width: 60%;cursor: pointer;"></a>
<br>
<a href="#"><img src="../public/img/eco/remove.png" id="remove" style="width: 65%;cursor: pointer;"> </a>
 </section>
 <section class="col-md-4 col-xs-10" style="height: 220px;"> 
 <h4>Meal</h4>
  <select multiple="" id="select2" style="border: 4px solid #66cc99;width: 100%;border-radius: 10px;padding: 12px;height: 160px;font-size: small;"></select>  
</section>
<section class="col-md-4 col-xs-10"> 
 <h4>Total Calories Consumed</h4>
  <input type="text" readonly value="123" class="form-control" style="color: #A30A0A;text-align: center;font-weight: 700;font-size: larger;border: none;box-shadow: none;background: white;cursor: auto;">
</section>
    </section>
    </div>

    <div id="tab2">

  <section class="row"> 

  <section class="col-md-3 col-xs-10" style=" height: 200px; text-align:left; margin-top: 1%"> 
  <form>
  <p style="font-size: medium;font-weight: 400;height:15px">Your Weight:</p>
  <select  id="weight" style="float:left;border: 2px solid #66cc99;width: 100%;border-radius: 10px;padding: 5px;font-size: small;margin-bottom: 3%;">  
   
  <option value="wone">130lbs-154lbs</option>
  <option value="wtwo">155lbs-179lbs</option>
   <option value="wthree">180lbs-204lbs</option> 
   <option value="wfour">205+lbs</option> 

  </select>  

  <p style="font-size: medium;font-weight: 400;height:50px">Type Of Excercise</p>
  <select  id="excercise" style="float:left;border: 2px solid #66cc99;width: 100%;border-radius: 10px;padding: 5px;font-size: small;margin-bottom: 3%;">  
   
  <option value="">Select</option>


  </select>  



  <p style="font-size: medium;font-weight: 400;height:50px">Duration Of Excercise</p>
  <select  id="time" style="float:left;border: 2px solid #66cc99;width: 100%;border-radius: 10px;padding: 5px;font-size: small;margin-bottom: 3%;">  
   
  <option value="0.5">30 minutes</option>
  <option value="0.75">45 minutes</option>
   <option value="1">1 hour</option>  
   <option value="1.5">1.5 hours</option> 
   <option value="2">2 hours</option> 

  </select>  
</form>
 </section>
 <section class="col-md-1 col-xs-4" style="margin-top: 9%;height: 30px;"> 

<img src="../public/img/eco/adding.png" onclick="addEx();" style="width: 65%;cursor: pointer;"> 
 </section>

 <section class="col-md-4 col-xs-10" style="height: 220px;"> 
 <h4>Excercise</h4>
  <select multiple="" id="ex" style="border: 4px solid #66cc99;width: 100%;border-radius: 10px;padding: 12px;height: 160px;font-size: small;">
    
  </select>  
</section>
<section class="col-md-4 col-xs-10"> 
 <h4>Total Calories Spent</h4>
  <input type="text" readonly value="123" class="form-control" style="color: #66cc99;text-align: center;font-weight: 700;font-size: larger;border: none;box-shadow: none;background: white;cursor: auto;">
</section>
    </section>

    </div>

    <div id="tab3">
      <p>
      Your Net Calorie Count for today is: 
      </p>
     <p> <span id="net">123</span></p>
    </div>

</div>
</section>
</div>
                </div>
             
     
       </div>  
    </div>
        </section>
          </div>


    </div>

<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="../public/js2/jquery.js" type="text/javascript"></script>
    <script src="../public/js2/bootstrap.min.js"></script>
    <script src="../public/js2/slick.min.js"></script>
    <script src="../public/js2/placeholdem.min.js"></script>
    <script src="../public/js2/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script src="../public/js2/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="../public/js2/waypoints.min.js"></script>

    <script src="../public/js2/scripts.js"></script>
 <!--    <script>
        $(document).ready(function() {
            appMaster.preLoader();
        });
    </script> -->

<script>
$(document).ready(function() {
  appMaster.preLoader();

 $('#add').click(function() {  
    return !$('#select1 option:selected').remove().appendTo('#select2');  
   });  
   $('#remove').click(function() {  
    return !$('#select2 option:selected').remove().appendTo('#select1');  
   });  

    $("#content div").hide(); // Initially hide all content
    $("#tabs li:first").attr("id","current"); // Activate first tab
    $("#content div:first").fadeIn(); // Show first tab content
    
    $('#tabs a').click(function(e) {
        e.preventDefault();        
        $("#content div").hide(); //Hide all content
        $("#tabs li").attr("id",""); //Reset id's
        $(this).parent().attr("id","current"); // Activate this
        $('#' + $(this).attr('title')).fadeIn(); // Show content for current tab
    });
});
</script>


    <script type="text/javascript">
    function addEx()
    {
      var e=$('#excercise option:selected').html();
      var v=$('#excercise option:selected').val();
     $('#ex').append("<option style='background: #66cc99;padding: 10px;cursor: pointer;' onclick='del();' value=\"" + e + "\">" + e + "</option>");
    }

     function del()
    {
      $('#ex option:selected').remove();
    }

        function togglediv(id) {
    var div = document.getElementById(id);
    div.style.display = div.style.display == "none" ? "block" : "none";
    console.log("hi");
}





$(document).ready(function() {
var range2;
$.each(activity,function(key,value)
         {
             
             var option = $('<option />').text(value.Activity).val(value.Activity);
             range2 = value.wtwo;
            
        $("#excercise").append(option);

  });

   $("#excercise").change(function(){
   
        alert($(this).val());
        alert("hello");
    });

  //});
 

});





$(document).ready(function() {
  $('#getbtn').click(function() {
      var inp=$('#searchtext').val();
       alert(inp); 
       var resp = 'https://api.nutritionix.com/v1_1/search/'+inp+'?fields=item_name%2Cnf_calories&appId=fb76e0a9&appKey=13708009f0deee0f63a0546647b8bd24';
        alert(resp);
      $.ajax({
        type: 'GET',
        url: resp,
        dataType: "json",
        success: function(results) {
      
var $select = $('#select1'); 
 $select.find('option').remove();
    for(var x=0; x<results.hits.length;x++){ 
   var str = (results.hits[x].fields.item_name +" - "+results.hits[x].fields.nf_calories);
   console.log(str);
    $select.append('<option value=' + str + '>' + str + '</option>');

    }
  
 
    }
        
      
    })

  });
});
</script>




</body>

</html>
