<!DOCTYPE html>
<html ng-app="masters">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MediClick Registration Form</title>
<!--angular routes-->

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
 <script src="../public/js2/angular-messages.js"></script>
 <script src="../public/js2/ngStorage.min.js"></script>
 <script src="../public/js/app.routes.js"></script>
 <script src="../public/js/app.js"></script>
        <!-- CSS -->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../public/assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../public/assets/css/form-elements.css">
        <link rel="stylesheet" href="../public/assets/css/style.css">

           <!-- Favicon and touch icons -->
     <link rel="shortcut icon" href="../public/assets/ico/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../public/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../public/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../public/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../public/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

  <body ng-controller="emergencyController as emergency ">
		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">MediClick Registration Form</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				
		</nav>
             
                 <h2><strong>Mediclick</strong> Registration Form</h1>
                         
        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">

                    <div class="row" >
                          <div class="col-sm-12 text">
                          
                                <a class="btn btn-link-1" >Personal Details</a>
                                <a class="btn btn-link-1" >Medical History</a>
                                <a class="btn btn-link-1" >Emergency Contacts</a>
                          
                        </div>

                        </div>
                         <div class="row" id="form1" style="display:block;">
                        <div class=" col-sm-8 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Emergency Details</h3>
                            		<p>Fill in your emergency contact details to set up your Emergency Alert System </p>
                                       <h3>Your Email is {{$storage1}}</h3>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-pencil"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form  name="emcon" role="form" ng-submit="emergency.emergencyInfo()" method="post" class="registration-form">
                                <div class="form-inline">
                                  <div class="form-group">
                                        <label  for="firstName">Emergency Contact #1 Name</label>
                                        <input type="text" name="firstName" placeholder="Name..."  id="firstName" ng-model="emergency.efname1" required ng-pattern="/^[A-Za-z ,.'-]+$/">
                                         <div ng-messages="emcon.firstName.$error">
                                      
                                       <div style="color:red" ng-message="pattern">Please do not enter special characters</div>
                                   </div>
                                    </div>
                                    <div class="form-group">
                                       <label  for="firstName">Phone</label>
                                        
                                         <input type="tel" name="phone" placeholder="408xxxxxxx" id="phone"  ng-model="emergency.elname1" required ng-pattern="/^\d{10}$/">
                                         <div ng-messages="emcon.phone.$error">
                                      
                                       <div style="color:red" ng-message="pattern">Please enter a valid number</div>
                                   </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="form-email">Email</label>
                                        <input type="email" name="email" placeholder="Email..." class="form-email form-control" id="form-email" ng-model="emergency.eemail1" required>
                                        <div ng-messages="emcon.email.$error">
                                      <div ng-message="email">This field must be a valid email address.</div>
                                   </div>
                                    </div>
                                    </div>
                                   <div class="form-inline">
                                  <div class="form-group">
                                        <label  for="firstName">Emergency Contact #2 Name</label>
                                        <input type="text" name="firstName2" placeholder="Name..."  id="firstName" ng-model="emergency.efname2" required ng-pattern="/^[A-Za-z ,.'-]+$/">
                                        <div ng-messages="emcon.firstName2.$error">
                                      
                                       <div style="color:red" ng-message="pattern">Please do not enter special characters</div>
                                   </div>
                                    </div>
                                    <div class="form-group">
                                       <label  for="firstName">Phone</label>
                                        <input type="tel" name="phone2" placeholder="408xxxxxxx" id="phone2"  ng-model="emergency.elname2" required ng-pattern="/^\d{10}$/">
                                         <div ng-messages="emcon.phone2.$error">
                                      
                                       <div style="color:red" ng-message="pattern">Please enter a valid number</div>
                                   </div>
                                    </div>
                                   <div class="form-group">
                                        <label for="form-email">Email</label>
                                        <input type="email" name="email" placeholder="Email..." class="form-email form-control" id="form-email" ng-model="emergency.eemail2" required>
                                        <div ng-messages="emcon.email.$error">
                                      <div ng-message="email">This field must be a valid email address.</div>
                                   </div>
                                    </div>
                                    </div>                                   
                             

                                      <div class="form-group">
                                        <label for="inlineRadio1">Notification Type </label>
                                        <label ><input type="radio" name="notify" id="inlineRadio1" value="option1" ng-model="emergency.notify" ng-value="'Text'" required> Text

                                       </label>
                                        <label>
                                        <input type="radio" name="notify" id="inlineRadio2" value="option2" ng-model="emergency.notify" ng-value="'Email'"> Email
                                        </label>
                                   </div>
                                  
                                      <button type="submit" class="btn" value="Done">Done</button>                                
                                </form>
                               
                              </div>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
       <script src="../public/assets/js/jquery-1.11.1.min.js"></script>
        <script src="../public/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../public/assets/js/jquery.backstretch.min.js"></script>
        <script src="../public/assets/js/retina-1.1.0.min.js"></script>
        <script src="../public/assets/js/scripts.js"></script>
        
        <script type="text/javascript">
        function togglediv(id) {
    var div = document.getElementById(id);
    div.style.display = div.style.display == "none" ? "block" : "none";
    console.log("hi");
}
</script>
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>