<!DOCTYPE html>
<html ng-app="masters">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MediClick Registration Form</title>

<!--angular routes-->

 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
 <script src="../public/js2/angular-messages.js"></script>
 <script src="../public/js2/ngStorage.min.js"></script>
 <script src="../public/js/app.routes.js"></script>
 <script src="../public/js/app.js"></script>
 
        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../public/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../public/assets/css/form-elements.css">
        <link rel="stylesheet" href="../public/assets/css/style.css">


        <!-- Favicon and touch icons -->
<link rel="shortcut icon" href="../public/assets/ico/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../public/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../public/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../public/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../public/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>
 <body ng-controller="registerController as register ">
  <label for="registerMessage">{{register.registerMessage}}</label> 
		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">MediClick Registration Form</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-navbar-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<span class="li-text">
								
							</span> 
							<a href="#"><strong></strong></a> 
							<span class="li-text">
								
							</span> 
							<span class="li-social">
								
							</span>
						</li>
					</ul>
				</div>
			</div>--!
		</nav>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row" id="form1" style="display:block;">
                        <div class="col-sm-7 text">
                            <h1><strong>MediClick</strong> Registration Form</h1>
                            <div class="description">
                            	<p>
	                            	Register with <font size=5><strong>MediClick</strong></font> for a refined, exclusive and accurate diagnosis and gain access to a wide range of features such as <font size=4><strong>Calorie Meter</strong></font>, <font size=4><strong>Emergency Alerting System</strong></font> and receive <font size=4><strong> Daily Health Tips!</strong></font>
                            	</p>
                            </div>
                           <!-- <div class="top-big-link">
                            	<a class="btn btn-link-1" href="javascript:togglediv('form1')">Button 1</a>
                            	<a class="btn btn-link-2" href="#">Button 2</a>
                            </div>-->
                        </div>
                        <div class="col-sm-5">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Register now</h3>
                            		<p>Fill in the form to resister :</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-pencil"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                 <form role="form" ng-submit="register.register()" class="registration-form">
                                  <div class="form-group">
                                        <label class="sr-only" for="form-email">Email</label>
                                        <input type="email" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email" ng-model="register.email" required>
                                        <!--changed above ng-model="register.email" to emailTest.name -->
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-first-name">Password</label>
                                        <input type="password" name="form-first-name" placeholder="Password..." class="form-first-name form-control" id="form-first-name" ng-model="register.password" required pattern=".{5,}" title="Minmimum 5 alpha-numerals or characters.">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-last-name">Confirm Password</label>
                                        <input type="password" name="form-last-name" placeholder="Confirm Password..." class="form-last-name form-control" id="form-last-name" ng-model="register.confirmpassword" required>
                                    </div>
                                    <div>
                                       <!--  <h3>{{$storage.userId}}</h3> -->
                                    </div>
                                      <button type="submit" class="btn" value="Register" onsubmit="togglediv('form1')">Register</button>                                
                                </form>

		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <script src="../public/assets/js/jquery-1.11.1.min.js"></script>
        <script src="../public/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../public/assets/js/jquery.backstretch.min.js"></script>
        <script src="../public/assets/js/retina-1.1.0.min.js"></script>
        <script src="../public/assets/js/scripts.js"></script>
        
        <script type="text/javascript">
        function togglediv(id) {
    var div = document.getElementById(id);
    div.style.display = div.style.display == "none" ? "block" : "none";
    console.log("hi");
}
</script>
        
    </body>

</html>