<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>MediClick</title>


<!--angular routes-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
<script src="../public/js2/ngStorage.min.js"></script>
<script src="../public/js/app.routes.js"></script>
 <script src="../public/js/app.js"></script>
 
 

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script src="../public/js/jquery.min.js"></script>
 <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
<link href="../public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<!-- Custom Theme files -->
<!--theme-style-->
<link href="../public/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<link href="../public/css/templatemo_style.css" rel="stylesheet" type="text/css" media="all" />	



<body class="container" ng-app="masters" ng-controller="remediesController as remedies ">
<!--onload-->

<script>
$(document).ready(function(){    
  
    $('.targetDiv').hide(); 
});
</script>
<!--
header

<div class="header header-top">
	<div class="container">
		<div class="logo">
		<h1><a href="index.html">
			MediClick
		</a></h1>
		</div>
		<div class="top-nav">
			<span class="menu"><img src="../public/images/menu.png" alt=""> </span>
				<ul>
					<li ><a href="index.html" class="hvr-sweep-to-bottom">Home</a></li>
					<li><a href="services.html" class="hvr-sweep-to-bottom">Services</a></li>
					<li  class="active"><a href="Remedies.html" >Remedies</a></li>
					<li><a href="typo.html" class="hvr-sweep-to-bottom">Typo </a></li>
					<li><a href="mail.html" class="hvr-sweep-to-bottom">Mail </a></li>
				</ul>
		
				
					<script>
						$("span.menu").click(function(){
							$(".top-nav ul").slideToggle(500, function(){
							});
						});
				</script>				
		</div>
		<div class="clearfix"> </div>
	</div>

</div>-->
<!--contact-->	
<div class="container">
	<div class="blog">
		<div class="top-blog">
			<h2>Choose Your Remedy</h2>
			<p> </p>
		</div>	
<!--added
		<div class="content-left">-->
			
			
					<div class="image-frame">
			<div class="col-md-3 content-left-top">
		<img class="img-responsive" target="1" src="../public/images/first_aid.jpg"/ >
		<div class="image-caption">
		  <h2>Slide1</h2>
		  Mouse over Slide 1 to view the caption.
		</div>
			</div>
			</div>


					<div class="image-frame">
			<div class="col-md-3 content-left-top">
		<img class="img-responsive" target="2" src="../public/images/remedies.jpg"/>
		<div class="image-caption">
		  <h2>Slide2</h2>
		  Mouse over Slide 2 to view the caption.
		</div>
			</div>
			</div>


					<div class="image-frame">
				<div class="col-md-3 content-left-top">
		<img class="img-responsive" target="3" src="../public/images/prescribedDrugs.jpg"/>
		<div class="image-caption">
		  <h2>Slide3</h2>
		  Mouse over Slide 3 to view the caption.
		</div>
			</div>
			</div>

					<div class="image-frame">
				<div class="col-md-3 content-left-top">
		<img class="img-responsive" src="../public/images/doc.jpg"/>
		<div class="image-caption">
		  <h2>Slide4</h2>
		  Mouse over Slide 4 to view the caption.
		</div>
			</div>
			</div>

			<div class="clearfix"> </div>
		</div>
		<!--added-->
		
   </div>

<div id="div1" class="targetDiv">
<div class="panel panel-primary">
      <div class="panel-heading">First adid</div>
     


<div class="results">
      <div class="panel-body">
      	 <div class="row">
        <div class="col-xs-3">
          <div class="thumbnail">
            <img class="img-responsive" src="../public/images/first_aid.jpg"/ >

            <div class="caption">
               <h3>test</h3>
              <p>Mobile Computing is a technology that allows transmission of data, voice and video via a computer or any other wireless enabled device without having to be connected to a fixed physical link.</p>
              <p><a href="#" class="btn btn-primary">Read More</a></p>
            </div>
          </div>
        </div>
        
        <div class="col-xs-3">
          <div href="#" class="thumbnail">
           <img class="img-responsive" src="../public/images/first_aid.jpg"/ >
            <div class="caption">
              <h3>Big Data</h3>
              <p>Big data is high-volume, high-velocity and/or high-variety information assets that demand cost-effective, innovative forms of information processing that enable enhanced insight, decision making, and process automation.</p>
              <p><a href="#" class="btn btn-primary">Read More</a></p>
            </div>
          </div>
        </div>

<div class="col-xs-3">
          <div href="#" class="thumbnail">
           <img class="img-responsive" src="../public/images/first_aid.jpg"/ >
            <div class="caption">
              <h3>IoE/IoT</h3>
              <p>IoT refers to the ever-growing network of physical objects that feature an IP address for internet connectivity, and the communication that occurs between these objects and other Internet-enabled devices.</p>
              <p><a href="#" class="btn btn-primary">Read More</a></p>
            </div>
          </div>
        </div>
<div class="col-xs-3">
          <div href="#" class="thumbnail">
          <img class="img-responsive" src="../public/images/first_aid.jpg"/ >
            <div class="caption">
              <h3>IoE/IoT</h3>
              <p>IoT refers to the ever-growing network of physical objects that feature an IP address for internet connectivity, and the communication that occurs between these objects and other Internet-enabled devices.</p>
              <p><a href="#" class="btn btn-primary">Read More</a></p>
            </div>
          </div>
        </div>

      </div>

      </div>

<!--second set-->
<!--
      <div class="panel-body">
      	 <div class="row">
        <div class="col-xs-3">
          <div class="thumbnail">
            <img class="img-responsive" src="../public/images/first_aid.jpg"/ >

            <div class="caption">
               <h3>test</h3>
              <p>Mobile Computing is a technology that allows transmission of data, voice and video via a computer or any other wireless enabled device without having to be connected to a fixed physical link.</p>
              <p><a href="#" class="btn btn-primary">Read More</a></p>
            </div>
          </div>
        </div>
        
        <div class="col-xs-3">
          <div href="#" class="thumbnail">
           <img class="img-responsive" src="../public/images/first_aid.jpg"/ >
            <div class="caption">
              <h3>Big Data</h3>
              <p>Big data is high-volume, high-velocity and/or high-variety information assets that demand cost-effective, innovative forms of information processing that enable enhanced insight, decision making, and process automation.</p>
              <p><a href="#" class="btn btn-primary">Read More</a></p>
            </div>
          </div>
        </div>

<div class="col-xs-3">
          <div href="#" class="thumbnail">
           <img class="img-responsive" src="../public/images/first_aid.jpg"/ >
            <div class="caption">
              <h3>IoE/IoT</h3>
              <p>IoT refers to the ever-growing network of physical objects that feature an IP address for internet connectivity, and the communication that occurs between these objects and other Internet-enabled devices.</p>
              <p><a href="#" class="btn btn-primary">Read More</a></p>
            </div>
          </div>
        </div>
<div class="col-xs-3">
          <div href="#" class="thumbnail">
          <img class="img-responsive" src="../public/images/first_aid.jpg"/ >
            <div class="caption">
              <h3>IoE/IoT</h3>
              <p>IoT refers to the ever-growing network of physical objects that feature an IP address for internet connectivity, and the communication that occurs between these objects and other Internet-enabled devices.</p>
              <p><a href="#" class="btn btn-primary">Read More</a></p>
            </div>
          </div>
        </div>

      </div>

      </div>

      -->
</div>

    <script type="text/javascript"><!--
        var pager = new Pager('results', 4); 
        pager.init(); 
        pager.showPageNav('pager', 'pageNavPosition'); 
        pager.showPage(1);
    </script>       <!--thumb nails - end-->

  </div>

    </div>


    <div id="div2" class="targetDiv">
   <div class="panel panel-primary">
      <div class="panel-heading">Home Remedies</div>
      <div class="panel-body">home rem</div>
    </div>
    </div>
<div id="div3" class="targetDiv">
   <div class="panel panel-primary">
      <div class="panel-heading">Non Prescribed Drugs</div>
      <div class="panel-body">home rem</div>
    </div>
    </div>
   


</body>



<script>
jQuery(function(){
         
        jQuery('.img-responsive').click(function(){
              jQuery('.targetDiv').hide();
              jQuery('#div'+$(this).attr('target')).show();
        });
});
</script>

<script>
$(document).ready(function() {
    $('.image-frame').hover(function(){
		$('.image-caption',this).slideToggle('slow');
	});
});
</script>
</html>
